@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),  url('RobotoSlab-Regular.woff') format('woff'), url('RobotoSlab-Regular.ttf')  format('truetype'), url('RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('Roboto-Bold.woff') format('woff'), url('Roboto-Bold.ttf')  format('truetype'), url('Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('Roboto-Light.woff') format('woff'), url('Roboto-Light.ttf')  format('truetype'), url('Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Panton';
  src: url('Fontfabric - Panton.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton.svg#59d97ab80c005863a812f3407b6e5e85') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Panton Bold';
  src: url('Fontfabric - Panton Bold.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton Bold.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton Bold.svg#389ffe825cf96a80b1cc0e8d71a15570') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Panton Bold Italic';
  src: url('Fontfabric - Panton Bold Italic.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton Bold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton Bold Italic.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton Bold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton Bold Italic.svg#2766116543b896278a438f697847aae0') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Panton Italic';
  src: url('Fontfabric - Panton Regular Italic.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton Regular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton Regular Italic.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton Regular Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton Regular Italic.svg#388e2d9a92a094fc83f0f9fc50aa788d') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Panton SemiBold';
  src: url('Fontfabric - Panton SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton SemiBold.svg#16625f48d5ece940ba245da3b0fbeae6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Panton SemiBold Italic';
  src: url('Fontfabric - Panton SemiBold Italic.eot'); /* IE9 Compat Modes */
  src: url('Fontfabric - Panton SemiBold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Fontfabric - Panton SemiBold Italic.woff') format('woff'), /* Modern Browsers */
       url('Fontfabric - Panton SemiBold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Fontfabric - Panton SemiBold Italic.svg#1063188849b856751cc7be1c296402e3') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Playfair Display italic';
  src: url('PlayfairDisplay-Italic.eot'); /* IE9 Compat Modes */
  src: url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PlayfairDisplay-Italic.woff') format('woff'), /* Modern Browsers */
       url('PlayfairDisplay-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PlayfairDisplay-Italic.svg#2bd500c7d53fe4ac5f23770a611a3ab6') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('PlayfairDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PlayfairDisplay-Regular.woff') format('woff'), /* Modern Browsers */
       url('PlayfairDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PlayfairDisplay-Regular.svg#04b27ca05cc09e86c39c371295e381ad') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?w028rg');
    src:    url('icomoon.eot?w028rg#iefix') format('embedded-opentype'),
        url('icomoon.ttf?w028rg') format('truetype'),
        url('icomoon.woff?w028rg') format('woff'),
        url('icomoon.svg?w028rg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'GF-F-FW';
  src:  url('GF-F-FW.eot?9zgl7w');
  src:  url('GF-F-FW.eot?9zgl7w#iefix') format('embedded-opentype'),
    url('GF-F-FW.ttf?9zgl7w') format('truetype'),
    url('GF-F-FW.woff?9zgl7w') format('woff'),
    url('GF-F-FW.svg?9zgl7w#GF-F-FW') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-Clessidra:before {
  content: "\e910";
  color: #595959;
}
.icon-Calendario:before {
  content: "\e911";
  color: #595959;
}

.icon-ArtDirector:before {
    content: "\e907";
}
.icon-Copywriter:before {
    content: "\e908";
}
.icon-Filmmaker:before {
    content: "\e90c";
}
.icon-Fotografi:before {
    content: "\e90a";
}
.icon-Strategist:before {
    content: "\e90b";
}
.icon-Sviluppatori:before {
    content: "\e909";
}
.icon-Email:before {
    content: "\e900";
}
.icon-Freccetta-salterina:before {
    content: "\e901";
}
.icon-Logo-Sublimio:before {
    content: "\e902";
}
.icon-Menu-Hamburger:before {
    content: "\e903";
}
.icon-Play:before {
    content: "\e904";
}
.icon-Sublimio-gas:before {
    content: "\e905";
}
.icon-Sublimio-solid:before {
    content: "\e906";
}

.icon-GF_F_FW_Icon-Font_Facebook:before {
  font-family: 'GF-F-FW' !important;
  content: "\e602";
}
.icon-GF_F_FW_Icon-Font_Pinterest:before {
  font-family: 'GF-F-FW' !important;    
  content: "\e610";
}
.icon-Google:before {
  font-family: 'GF-F-FW' !important;    
  content: "\e900";
}
.icon-LinkedIn:before {
  font-family: 'GF-F-FW' !important;    
  content: "\e901";
}
.icon-Twitter:before {
  font-family: 'GF-F-FW' !important;    
  content: "\e902";
}
.icon-Instagram:before {
  font-family: 'GF-F-FW' !important;    
  content: "\e903";
}
