
*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

a,a:active,a:focus,a:visited {
   outline: 0;
}

html{

  height: 100%;
  width: 100%;
    
}

body {
	background: #1E1E1E;
	color: #c5d3d6;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
    overflow: hidden;
    position:fixed;
}

.mn {
    display: inline-block;
    width: 100%;
    padding: 0;
}

#header a {

    opacity: 0.5;
    font-family: 'Panton Bold';
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 1.85px;    
    transition: .3s ease all;
    
}

#mn-portfolio a{
    opacity:1;
}

.full #mn-portfolio a{
    opacity:.5;
}

#header a:hover {
    opacity: 1;
    transition: .3s ease all;
}

.mn1{text-align:left;}
.mn3 {text-align:right;}

body.full {
    overflow: auto;
    position:relative;
}

/* SEZIONE ALTA MENU */

#header {
    pointer-events: auto;
}
#header .section{
    position: absolute;
    height:80px;
    line-height: 80px;
    text-align: center;
}

#header .center-section {
    left:80px;
    right:80px;
    background:#000;
}
#header .left-section,#header .right-section {
    width: 80px;
    background: #000;
    z-index: 2;
    transition: .2s background-color
}

#header .left-section a ,#header .right-section a{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    transition: .3s ease all;  
    color:#fff;
    padding-top: 2px;
}

#header .right-section a{
    font-size: 14px;
}

#header .right-section {
    right: 0;
    background:#000;
}
#header .left-section {
    left: 0;
    background:#000;
    
    background-position: center;
    background-repeat: no-repeat;
}
#header .slider {
    height:2px;
    height:14px;
    top:50%;
    margin-top:-2px;
    background-color: #1E1E1E;
}

#header .slider-fill {
    height: 2px;
    height: 14px;
    background-color: #1E1E1E;
}

#header .slider-handle{
    background: transparent;
    width: 0;
    height: 2px;
    transition: .6s ease all;
    /* Rectangle 39: */
    background-image: url("../img/hexagon.png");/*linear-gradient(-270deg, rgba(100,100,100,0.00) 0%, #646464 51%, rgba(100,100,100,0.00) 100%);*/
    height:14px;
    width:16px;
}
/*FINE SEZIONE ALTA MENU*/

#rect {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.25) 100%);
    z-index: 1001;
}

.slide img.brand {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: auto;
    max-width: 60%;
    transform: translateY(-50%);
    margin-top: 30px; 
    width: 100%;
    height: auto;    
}


.full .slide img.brand {
    top: 50%;
    transition: .3s ease all;
    transform: translateY(-50%);
}


.content .section-full-h{
    height: 100vh;
    display: table;
}

.content .section {
    width: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.content .section .row.inner{
    padding: 100px 20px;
}

.content .section-tutto-cambia .row.inner {
    padding: 0;
}
.content .section-tutto-cambia,.content .section-tutto-cambia .section-full-h {
    height: calc(100vh - 80px);
}

.content .section-white {
    background: white;
}

.content .section-black {
    background: black;
}

.content .section-dark-gray {
    background: #141414;
}

.content .section-gradient {
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 57%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 57%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.row.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.row.vertical-align .row {
    margin: auto;
}

.columns.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

video#bgvid {
    display: none;
    display: block;
    position: absolute;
    bottom: 0;
    height: auto;
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
    /*
    transform: translateX(-50%);    
        min-width: 100%;
    width: 100%;
    */
bottom: auto;
    top: 50%;
    transform: translateY(-50%) !important;
    height: 100%;
    width: auto !important;     
}

.img-dragger .handle div.img-wrap {
    overflow: hidden !important;
}

.pages .content .page-intro p{
    
    position: absolute;
    left: 0;
    right: 0;
    /*max-width: 700px;*/
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    color: #F2F2F2;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

#content-home .page-intro p{
    font-size: 27px;
    color:#969696;
    text-align: center;
    max-width: 900px;
    line-height: 42px;
}

.pages .content .column-talenti h2 {
    font-size: 12px;
    font-family: 'Panton Bold';
    line-height: 30px;
}
.pages .content .column-talenti p {
    font-size: 16px;
    line-height: 27px;
    color: #C8C8C8;
}

#section-talenti {
    background:black url('../img/bg-section1.jpg') no-repeat center;
    background-size: cover;
}

#section-talenti .columns{
    padding-top:30px;
    padding-bottom:30px;
}

.column-talenti{
    padding-top:30px;
    padding-bottom:30px;
    
}

.column-talenti .row {
    margin-bottom: 20px !important;
}

.column-talenti i {
    color: #595959;
    font-size: 38px;
}
.pages .half-height {
    display: block;
    height: auto;
}

#section-crea2 {
    background: black url('../img/bg-section2.jpg') no-repeat center;
    background-size: cover;
    border-bottom: 1px solid black;
}

#section-crea2 .list {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#section-crea2 .list .columns{
/*
    width: 50%;
    height: 50%;
    display: table;
*/
        
    padding-top: 40px;
    padding-bottom: 40px;
}

#section-crea2 .list .columns p {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.gallery .cell {
  width: 100%;
  height: 120px;
  margin-right: 10px;
  display: table; 
}

.gallery .cell div{
    display: table-cell;
    vertical-align: middle;
}

.button-sublimio {
    font-size: 14px;
    /*padding: 10px 80px;*/
    font-family: 'Panton Bold';
    transition: .3s ease all;
        max-width: 200px;
    width: 200px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin:0px 10px 20px;
}

.button-sublimio-dark {
    color: #969696;
    background: #1E1E1E; 
	background: #00948C;
    color: #141414;    
}

.button-sublimio-dark:hover {
    color: black;
    background: white; 
}
#progressBar{
    position: fixed;
    bottom: 0;
    height: 0px;
    background: white;
    width: 0;
    z-index: 9999;
    float: right;
}

.img_blurred {
    width: 100%;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    z-index: 999;
    opacity: 0;
}

.div-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
    transition: .6s ease opacity;
    color:white;
}

.div-arrow a{
    color:white;
    padding: 50px;
}

.allFull .bounce {
    opacity: 1;
}

.bounce {
    transition: .6s ease opacity;
    
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    
}

@keyframes bounce {
	0%, 20%, 50%,90%,100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-20px);
  }
	60% {
    transform: translateY(-10px);
  }
    80% {
    transform: translateY(3px);
  }
}
.icon-Logo-Sublimio {
    margin-bottom: 20px;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-20px);}
 60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-20px);}
 60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-20px);}
 60% {-o-transform: translateY(-10px);}
}


.map-container {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    -moz-border-radius: 100%; 
    -webkit-border-radius: 100%; 
    border-radius: 100%;
    margin: auto;
}

/*
SHORTCODES:
*/

.content-project {
    font-size: 16px;
    line-height: 36px;    
}

/*section: full-height,auto*/
.content .section-full-height{
    height: auto;
    display: table;
}

/*content:full-height,full-width,*/

.content .section .content-full-width {
    min-width: 100%;
    max-width: 100%;
    width:100%;
}

.content .section-full-height .content-full-height{
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.content .section-full-height .content-auto{
    display: table-cell;
}

.content .section .content-auto {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content .section-full-height .content-auto.content-middle{
    vertical-align: middle;
}

.content .section-full-height .content-auto.content-top{
    vertical-align: top;
}

.content .section-full-height .content-auto.content-bottom{
    vertical-align: bottom;
}

.content .content-full-width .columns{
    width: 100%;
    padding: 0;
}

.pages .content .wp-caption {
    width: auto !important;
    height: auto !important;
    margin: auto;
    padding: 0;
}

.pages .content .wp-caption img{
    width: 100%;
    height: auto;
}
.pages .content p.wp-caption-text{
    /* Didascalia dell’imma: */
    font-family: 'Playfair Display italic' !important;
    font-size: 13px;
    color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1;
    margin: 0;
    font-style:italic;
}

.pages .content .info-project p{
    color: inherit;
    font-size: 16px;
    line-height: 30px;
}

.pages .content .info-project .columns{
    padding:0 40px;
}

.button-project {
    padding-top: 100px;
}

.button-project a {
    /* VAI AL SITO WEB: */
    font-family:'Panton Bold';
    font-size: 14px;
    line-height: 17px;
    padding: 10px 60px;
    transition: .3s ease all;
}



.content .section-full-height .project-gallery .flickity-slider img{
/*
    max-width: 100%;
    min-width: 100%;
    height: auto;
    width: 100%;
*/
}

.content-project img,.content-project img.fade-out {
    opacity: 0;
}

.language-chooser {
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 75rem;
}

.language-chooser li {
    position: absolute;
    
}

.language-chooser .lang-it {
    left: 60px;
}
.language-chooser .lang-en {
    right: 60px;
}
.language-chooser li a {
    line-height: 50px;
}

.language-chooser li a span {
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    color: white;
/* IT Copy 2: */
    font-family: 'Panton Bold';
    font-size: 12px;
    color: #F2F2F2;
    line-height: 50px;
}

.pre-footer b {
    font-size: 12px;
    color: #4a4a4a;
    padding: 0;
    display: block;
    
    font-family: 'Panton Bold';
    line-height: 14px;    
    
}
.pre-footer i {
    display: block;
    font-size: 45px;
    color: #b2b2b2;    
}

.page-footer {
    width: 100%;
    max-width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.page-footer .columns {
    padding-left: 0;
    padding-right: 0;    
}

.gallery-caption {

    font-family: 'Playfair Display italic';
    font-size: 12px;
    color: #4A4A4A;
    line-height: 30px;    
    height: 30px;
    font-style: italic;
}

.img-gallery-caption {display:none;}
.gallery-caption {
    opacity: 1;
    transition: .2s ease all;
}
.gallery-caption.hidden {
    opacity: 0;
    
}

.rwd-video {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	
	position: relative;
}
.rwd-video iframe,
.rwd-video object,
.rwd-video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.rwd-video a {
    position: absolute;
    color: white;
    font-size: 44px;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.rwd-video.stop iframe{
    opacity: 0;
    transition: .5s ease all;
}

.rwd-video.play iframe{
    opacity: 1;
    transition: .5s ease all;
}

.rwd-video.stop img,.rwd-video.stop a{
    opacity: 1;
    visibility: visible;
    transition: .5s ease all;
}

.rwd-video.play img,.rwd-video.play a{
    opacity: 0;
    visibility: hidden;
    transition: .5s ease all;
}


.row.content-project.content-full-height .columns {
    height:100%;
}

div.stretchy-wrapper {
	width: 100%;
	/*padding-bottom: 56.25%;*/ /* 16:9 */
    height: 300px;
	position: relative;
	background: #000;
    overflow: hidden;
}

div.stretchy-wrapper > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.stretchy-wrapper a,.stretchy-wrapper .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.stretchy-wrapper .bg {
    background-size: cover;
    background-position: center;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-backface-visibility: hidden;
    opacity: .3;
}

.stretchy-wrapper a:hover .bg {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    -webkit-backface-visibility: hidden;
    opacity: .6;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform-origin: center;
    -webkit-transform-origin: center;  
    
}

.stretchy-wrapper .title {

    margin: 0 auto;
    display:table-cell;
    vertical-align: middle;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.stretchy-wrapper .title-wrap{
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}
.stretchy-wrapper .title h1{
    font-family: 'Playfair Display';
    font-size: 24px;
    color: #fff;
    line-height: 48px;
    padding: 0 20px;
}
.stretchy-wrapper .title p{
    font-family: 'Panton Bold';
    font-size: 14px !important;
    color: #fff;
    letter-spacing: 0.21px;
    line-height: 17px !important;
}


.molto-footer {
    /* info@sublimio.com – : */
    font-family: 'Panton' !important;
    font-size: 11px !important;
    color: #646464 !important;
    line-height: 19px !important;
    margin: 15px 0;
}

.molto-footer a {
    color: #fff;
}
.molto-footer a:hover {
    text-decoration:underline;
}

.arrow-left,.arrow-right {
    width: 100%;
    height: 15px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    bottom: 15%;
}
.arrow-left{
    background: url("../img/arrow-left.png");
}
.arrow-right{
    background: url("../img/arrow-right.png");
}

.flickity-prev-next-button {
    border-radius: 0;
    color:#000;
}

.flickity-prev-next-button.previous {
    left: 0px;
}

.flickity-prev-next-button.previous:before {
    font-family: 'icomoon';
    content: "\e904";    
    margin-left: 5px;    
    opacity: .5;
    transition: .3s ease all;
    
}

.flickity-prev-next-button.previous:hover:before {
    opacity: 1;
    transition: .3s ease all;
}

.flickity-prev-next-button.next:hover:before {
    opacity: 1;
    transition: .3s ease all;
}

.flickity-prev-next-button.previous {
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
}

.flickity-prev-next-button.next:before {
    font-family: 'icomoon';
    content: "\e904";
    margin-right: -5px;
    opacity: .5;
    transition: .3s ease all;
}


.flickity-prev-next-button.next {
    right:0px;
}

.flickity-prev-next-button svg {
    display:none;
}

.row.content-project h4 {
    font-family: 'Panton SemiBold';
    font-size: 12px;
    line-height: 28px;
    color: #000;
    display: block;
}

.sInfo p.t {
    font-family: 'Panton Bold';
    font-size: 12px !important;
    line-height: 30px;
    color: #000 !important;
}

.sInfo{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 60px;
}
.gallery-numbers {
    position: absolute;
    right: 12px;
    margin-top: -35px;
    font-family: 'Playfair Display italic';
    font-size: 13px;
    font-style: italic;
}

.galleryRow {
    widows: 100%;
    min-width: 100%;
    max-width:100%;
}

#section-crea2 p {
    font-size: 16px;
}

#breakpoint {
    display:none;
    color:#000000;
}

.pages .content .section-tutto-cambia p{
    font-size: 16px;
    line-height: 27px;
    
}

.pages .content .section-tutto-cambia h2 {
    margin-bottom: 20px;
}

#section-crea .row.vertical-align {
    display:block;
}

#matteo {
    color:white;
    text-decoration:none;
    font-weight: bold;
}

#matteo:hover {
    text-decoration:underline;
}

.map-container{
    background-color: transparent !important;
}

h2.socials {
    color: #9B9B9B;
    line-height: 44px;
}
.socials a {
    color:white;
}

.text-shortcode {
    text-align: left;
    line-height: 30px;
    font-size: 16px;
}

.gmnoprint {
    display: none;
}

.dragdealer {
    .transform: perspective(1200px) translate3d(0px, 50%, -300px);
}

#slider {
    /*
    position: absolute;
    z-index: 999;
    width: 100%;
    */
}

#container {
    transition: .5s ease all;
}

#rigger {
    position:absolute;
    z-index:999;
    width:100%;
    height:2px;
    background:yellow;
    top: calc(25vh + 40px);
    display:none;
    
}

#pointMenu {
    height:12px;
    position: absolute;
    z-index: 999;
    width:auto;
    min-width: 100px;
    /*top: calc(50vh + 20px);*/
    top: calc(50% + 16px);
    left:0;
    right:0;
    margin: 0 auto;
    text-align: center;
}

.full #pointMenu .point {
    opacity:0;
    transition:.3s ease all;
}

#pointMenu .point {
    opacity:1;
    background-image: url("../img/circle.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 14px;
    width:28px;
    display: inline-block;
    transition:.3s ease all;
    cursor:pointer;
}

#pointMenu .point.active {
    background-image: url("../img/hexagon.png");
    transition:.3s ease all;
}
.img-dragger-small .slide .title {opacity:0;}
.img-dragger-small .slide.current .title {opacity:1;}

.slide .title ul li {
    font-size:13px;
    text-transform: uppercase;
}


.pulsantozzo.show-for-small {
    margin-top: 30px;
}

/* SCOPRI CHI SIAMO: */
.pulsantozzo a {
    font-family: 'Panton Bold' !important;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    background:#000;
    padding: 13px 26px;
    transition: .3s ease all;
}

#content-home .pulsantozzo a {
    padding: 15px 60px;
    background: #505050;    

}

#pulsantozzo_home {
    display:block;margin: 30px 0 0px 0;    
    
}



.slide .title h2 {
    font-family: 'Playfair Display';
    font-size: 28px;
    color: #FFFFFF;
    line-height: 38px;
}

.main-gallery img {
    max-width:none;
}

.testo-servizi-footer {
    font-family: 'Playfair Display';
    font-size: 80px;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 122px;
}

.servizi-tag {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%) translateX(-50%);
    height: auto;
    margin-top: 20px;    
    left:50%;
    padding-left: 20px;
    padding-right: 20px;    
}

#header {opacity:0;top:-80px}
#header.toSlide{
    opacity:1;
    top:0px;
    transition:.5s ease all;
}

.div-arrow {
    z-index:1001;
}

#logo_h{
    display:none !important;
}

.title-contatti .subtitle {
    color: #9B9B9B;
}

.subtitle {
    font-family: 'Panton Bold' !important;
    font-size: 12px;
    letter-spacing: 1px;
    color: #9B9B9B;
}

#pointMenu {
    transition: .3s ease all;
}

#mappaContattiWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mappaContatti{
    opacity: 0;
    transition: .8s ease all;
    background: url("../img/mappa_contatti.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#mappaContatti.in {
    opacity: 1;
    transition: .8s ease all;
    
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.title-contatti {
    z-index: 1001 !important;
}

.title-contatti h2,.title-contatti h3,.title-contatti img {
        margin: 20px 0 20px 0;
}
#pulsantozzoContatti {
    margin: 40px 0 40px 0;
}

#pulsantozzoContatti a {
    padding: 15px 60px;
	background: #00948C;
    color: #141414;    
}

#pulsantozzoContatti a:hover {
    padding: 15px 60px;
	background: #fff;
    color: #141414;    
}

.title-contatti p {
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #9B9B9B;
    margin-bottom: 0;
}

.title-contatti #link-cv,.title-contatti #link-cv a {
    color:#fff;
}

.title-contatti #link-cv a:hover {
    text-decoration: underline;
}
#footer-contatti{
    position: absolute;
    bottom: 0px;
    text-align: center;
    opacity:0;
    transition: .1s ease all;
    z-index: 1;
    visibility: hidden;
    transform: translateX(-50%);
    left: 50%;    
    width: 100%;
}

#footer-contatti.in{
    bottom: 30px;
    opacity:1;
    transition: .5s ease all;
    visibility: visible;
}

#footer-contatti p{
    font-family: 'Playfair Display';
    font-size: 14px;
    color: #9B9B9B;
    margin:0;
    padding:0;
}

#social {
    z-index: 1001;
}

#social span {
    background: black;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 7px;
}
#social a {
    color: #9B9B9B;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: inline-block;    
}

#social a:hover {
    color: #fff;
}

span.nxt-prg {
    font-size:12px;
    font-family: 'Panton Bold';
    color:rgba(255,255,255,.5);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50px;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
}


.link-to-prj:hover span.nxt-prg {
    color:rgba(255,255,255,1);
    transition: .5s ease all;
    -webkit-transition: .5s ease all;    
}

#logo-home {
    
    font-size: 70px !important;
}

#hR,#hD {
    display: inline-block;
    margin-top: 10px;
    width: 240px;
    height: 45px;
    line-height: 45px;
    padding: 0 !important;    
}



.project-gallery {
    height:auto;
}

.project-gallery img{
    height:300px;
    max-width: none;
}

.waka {
    position:relative;
}

.pages .content .section-tutto-cambia h2 {
    margin-bottom: 60px;
}
.text-smartphone {
    font-family: 'Playfair Display';
    display: none;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    /* top: 50%; */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 1;
    line-height: 100vh;
    font-size: 30px;
    
}
.content-full-width .shortcode-immagine img {
	width:100%;
	height:auto;
}

.carousel-gallery a img {
    opacity: .6 !important;
    transition: .3s ease all;
}

.carousel-gallery a:hover img {
    opacity: 1 !important;
    transition: .3s ease all;
}

#section-team {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team {
	background-size:contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat;
	position:relative;
	height:300px;
}

.team-content h2 {
	margin-bottom: 1.3rem;
}

.team-content {
    margin-top: -20px;
    position:relative;
    padding-left:5%;
    padding-right:5%;    
}

.team p,.team-content p {
	    padding-left: 50px;
}

.team-master {
	height:600px;
}
.team-master.center div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#content-home p:not(#tulozzo):not(.molto-footer) {
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	line-height: 23px !important;
	color: #aaaaaa !important;
}

.molto-footer {
	font-family: 'Roboto', sans-serif !important;
}

#section-video {
	width:100%;
	position:relative;
	background:black;
	overflow:hidden;
}

#section-video video{
	width:100%;
	height:auto;
}

#lnkPortfolio {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

#lnkPortfolio a{
    font-family: 'Playfair Display';
    color: #fff;
    font-size: 26px;
    border:1px solid white;
    padding:15px 30px;
	transition: .3s ease all;	
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,0);    	
}

#lnkPortfolio a:hover{

	
	-webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
	box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);    
	
	
	transition: .3s ease all;	
}

#section-video #cover{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:black;
    opacity:0;
	transition: .3s ease all;    
	  background-color:#00948C;
	  mix-blend-mode:multiply;  
}

#section-video img {
	width:100%;
	height:auto;
}

#section-video.hover #cover {
  transition: .3s ease all;
  opacity:1;
}


#section-video img.car {
  position: absolute;
  transition: 1s ease-in-out all;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
  
}


#scale-home {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#section-video #scale-home {
  transform-origin: top left;  
  transform: scale(1.1);  
  -webkit-transform-origin: top left;  
  webkit-transform: scale(1.1);  
	transition: .3s ease all;
	webkit-transition: .3s ease all;
  transform-origin: center;
  -webkit-transform-origin: center;  
  	opacity:.6;	
}

#section-video.hover #scale-home{
  transform: scale(1);
  transform-origin: center;
  -webkit-transform-origin: center;  
  webkit-transform: scale(1);  
	webkit-transition: .3s ease all;  
	transition: .3s ease all;  	
}

#section-video img.car + #section-video img.car { opacity: 0; }

#titolo_h {
	text-align:center;
}
.titolo_h_1 {
	color:#DADADA;
}

#content-home .pulsantozzo a {
	text-align:center;
	background:transparent;
	border:1px solid #969696;
	color:#fff;
	border: 1px solid #00948C;
}

#content-home .pulsantozzo a#hR {
	color:#000;
	background:#969696;
	border:1px solid #969696;	
}
#content-home .pulsantozzo a#hR:hover {background:#fff !important;border: 1px solid #fff;}

#content-home .pulsantozzo a:hover {
	background:#fff;
	color:#000;
	border: 1px solid #fff;
}

.section-branding {
	text-align:left;
}
.section-branding h3{

	font-family: Roboto;
	font-size: 22px;
	color: #969696;
	line-height: 30px;
	padding:60px 0;
	max-width:100%;
	font-weight: 300;
}

.section-branding h3 span{
	color:#fff;
}

.pages .content .section-branding p{
	font-family: 'Roboto-Regular';
}

.section-branding p span{
	color:#fff;
}
/*
#section-crea2 .list .columns {
	width:100%;
}
*/
#section-crea2 .list .columns a{
	border: 1px solid #555555;
		border: 1px solid #00948C;
    display: block;
    color: white;
    margin: 0 auto;
    text-transform:uppercase;
    letter-spacing: 1px;
    
    /*
	transition:.3s ease all;        
    width:180px;    
    text-align: center;    
    padding: 10px 0;
    */
}

#section-crea2 .list .columns a:hover{
	border: 1px solid white;
    color: black;
    background:white;
    transition:.3s ease all;
}

#section-crea2 {
	background:none;
	border:none;
}

#contiene-crea {
	background:url("../img/Sublimio_Home_2018_Branding-Strategy-Services_Web.jpg");
    background-size: cover;
    background-position: bottom;
    padding-bottom:500px;	
    padding-top:100px;	    
    height: 1400px;
}

#section-crea2 .list .columns {
    padding-top: 0;    
}