html, 
body,
.js .container,
.js .dragslider,
.js .img-dragger .handle {
	height: 100%;
    width:100%;  
    
}


/* Header */
.header {
    position: fixed;
	margin: 0 auto;
	width: 100%;
    height: 80px;
    background: transparent;
	pointer-events: none;
	-webkit-transition: .3s ease all;
    -webkit-transition-delay: .3s;
	transition: .3s ease all;
    z-index: 9999;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
    
    transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;    
    
}




.js .dragslider {
	position: fixed;
	left: 0;
    bottom:0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

.dragslider.show-content {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
}

/* Switch button */
.slider-switch {
	font-size: 0;
	width: 100%;
	height: 50px;
	padding: 0;
	color: transparent;
	position: fixed;
    top:-60px;
    z-index: 999;
	border: none;
	outline: none;
	overflow: hidden;
	opacity: 0;
    /*transition: .1s opacity;
    -webkit-transition: .1s opacity;*/
	pointer-events: auto;
    margin: auto;
    left: 0;
    right: 0;
}

.slider-switch button {
    background: url(../img/menu.png) no-repeat center center;
    width: 50px;
	height: 50px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: auto;
    border: none;
	outline: none;
    z-index: 2;
}

.no-js .slider-switch {
	display: none;
}

/*
body.full .slider-switch {
	opacity: 1;
}
*/
.allFull .slider-switch{
    opacity: 1;
    top: 30px;
}

/* Dragger */
.img-dragger {
	position: relative;
	z-index: 100;
}

.js .img-dragger {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 0;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
    
}

.full .img-dragger {
	top: 0px;
}

.js .img-dragger-large {
	width: 100%;
	height: 100%;
}

.js .img-dragger .handle {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	font-size: 0;
    overflow:visible !important;
}

.no-js .img-dragger,
.no-js .img-dragger .handle {
	height: auto;
	position: relative;
	text-align: center;
	font-size: 0;
	clear: both;
	white-space: nowrap;
	overflow: auto;
}

.no-js .img-dragger .handle {
	padding: 40px 0 0;
}

.img-dragger .slide {
	display: inline-block;
	position: relative;
	height: 100%;
	font-size: 16px;
	white-space: normal;
	cursor: -webkit-grab; 
	cursor: -moz-grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
}

.no-js .img-dragger .slide {
	width: 300px;
	font-size: 7px;
	min-height: 200px;
}

.img-dragger .slide:active {
	cursor: -webkit-grabbing; 
	cursor: -moz-grabbing;
}

.img-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.slide .title {
    position: absolute;
    opacity: 1;
	padding-top: 0;
	top: -200px;
	width: 100%;
	text-align: center;
    z-index: 999;    
}



.img-dragger-small .slide .title{
    opacity: 1;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transition: color 0.3s, opacity 0.3s;
	transition: color 0.3s, opacity 0.3s;  
    /*
    -webkit-animation: slideUpFade 0.4s 0.1s;
    animation: slideUpFade 0.4s 0.1s;    
    */
}

.slide .title ul,.page-footer ul {
	display: block;
    font-size: 15px;
    color: rgba(255,255,255,.5);
    letter-spacing: 0.23px;
    line-height: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Panton Bold';
}

.slide .title ul li,.page-footer ul li{
    display: inline-block;
    margin: 0px 10px;
}

.page-footer ul li{
    font-size: 12px !important;
    text-transform: uppercase;
    color: rgba(255,255,255,0);
    transition: .5s ease all;
    -webkit-transition: .5s ease all;        
}

.link-to-prj:hover ul li {
    color:rgba(255,255,255,.5) !important;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;        
}

@-webkit-keyframes slideUpFade {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}

@keyframes slideUpFade {
	from {
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	to {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}


.slide h2 i {
	font-style: normal;
	font-weight: 400;
}



/* Content */
.js .pages {
	position: absolute;
	top: 0;
	height: auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
    min-height: 100%;
    z-index: 2;
}

.js .show-content .pages {
	-webkit-transition: none;
	transition: none;
	height: 100%;
}

.pages .content p,.pages .content h2 {
    font-family: 'Playfair Display'
}

.pages .content h2 {
    font-size: 28px
}

.pages .content p {
    font-size: 13px;
    color: #C8C8C8;
}

.pages .content {
	text-align: center;
    font-family: 'Playfair Display';
    color: white;
}

.js .pages .content {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
	-webkit-transition: height 0s 0.6s;
	transition: height 0s 0.6s;
    min-height: 100%;
}

.pages .content.show {
	height: auto;
	-webkit-transition: none;
	transition: none;
}
/*
.pages .content h2 {
	font-size: 5em;
	max-width: 70%;
	color: #34495e;
	padding: 2.25em 10px 1em;
}

.no-js .pages .content h2 {
	padding-top: 1em;
}

.pages .content h2 span {
	color: #95a5a6;
}

.pages .content p {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0.5em 2em;
	line-height: 1.5;
	text-align: left;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

.pages .content p:last-child {
	padding: 5em 1em 8em;
	text-align: center;
	font-weight: bold;
}

.js .pages .content h2,
.js .pages .content p {
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
	transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.pages .content.show h2,
.pages .content.show p {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.pages .content.show p {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.pages .content a {
	color: #3c89d5;
	display: block;
}

.pages .content a:hover {
	color: #545b61;
}
/*
/* Switch */


.switch-min .img-dragger-large,
.switch-max .img-dragger-small,.slide {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	/*cubic-bezier(.7,0,.3,1)*/
}


/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.outed {
	/*top: -80px;
	pointer-events: none !important;*/
}



/*MC*/
.slide{
    -webkit-transform: scale(.9,.8);
    transform: scale(.95,.85);
    overflow-y: visible !important;
    overflow-x: visible !important;
}
/*
body.full .slide{
    transform: scale(1);
    -webkit-transform: scale(1);
}
*/
.slide.current{    
    transform: scale(1);
    -webkit-transform: scale(1);
}

/*
.slide:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .3;
    transition: .3s ease all;    
}

.slide.current:after{
    opacity: 0;
}
*/
.img-wrap{
    background: url('../img/demo.jpg');
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-position: top center;
    
    -webkit-transition: .3s ease all;
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */    
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

/*
body.full .slide .img-wrap{
    -moz-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;

}
*/
.slide.current .img-wrap {    
    -moz-filter: none;
    -o-filter: none;
    -webkit-filter: none;
    filter: none;
    
}

.pages {
    display:none;
}
body.full .pages{
    display: block;
}

.img-dragger-small .handle div {
    overflow: visible !important;
}

.img-dragger-large .handle div {
    /*overflow: scroll !important;*/
    overflow: visible !important;
    
}
