/**
 * Dragdealer.js 0.9.7
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.dragdealer {
  position: relative;
  height: 30px;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
}

.dragdealer .disabled {
  background: #898989;
}
