

#header a{
    overflow: hidden;
}

#header a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;    
    
}

#header a span:before {
/*    position: absolute;
    top: 100%;
    left: -100%;
    font-size: 13px;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    color:white;
    font-family: 'Panton Bold';*/
}

#header a:hover span, #header a:focus span {
 /*   -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);*/
}



video#bgvid {
    display: block;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    width: 100%;
    height: auto;

    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
/*
#section-crea2 .list .columns{
    width: 20%;
    height: 50%;
}
*/
.img-wrap.home {
    background-image:none !important;
}


.button-sublimio a{
    overflow: hidden;
}

.button-sublimio span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;    
    
}

.button-sublimio span:before {
    position: absolute;
    top: 100%;
    font-size: 16px;
    width: 100%;
    height: 100%;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    color:#000;
    font-family: 'icomoon';
}

.button-sublimio-home span:before {
    content: "\e902";
}
.button-sublimio-contatti span:before {
    content: "\e900";
}

.button-sublimio:hover span, #button-sublimio:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.celluto-ffw {
    width:100% !important;
}

.gallery .cell {
  width: 20%;
    margin-right: 10px;
}

.socials a:hover {
    text-decoration: underline;
}


.slide .title h2 {

    font-size: 40px;
    line-height: 58px;
}

.pulsantozzo a:hover {
    background-color:#fff !important;
    color:#000;
    transition: .3s ease all;
}

.pages .content .page-intro p {
    font-size: 26px;
    line-height: 40px;
    text-align: left;
}

.project-gallery {
    height:450px;
}

.project-gallery img{
    height:450px;
}

.slide img.brand {
    max-width: 20%
}

.team {
	height:500px;
}
/*
#section-crea2 .list .columns {
	width:33.33%;
}
*/
#section-crea2 .list .columns {
    padding-top: 40px;    
}