.bg-top-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    background:transparent;
    transition: .3s ease all;
    opacity: .3;
    -ms-opacity: .3;
    -moz-opacity: .3;
    -webkit-opacity: .3;    
}

#header .left-section, #header .right-section {
    width: 130px;
    background: transparent;    
}

.full .bg-top-section{
    transition: .3s ease all;
    background: #000;
    opacity: .3;
    -ms-opacity: .3;
    -moz-opacity: .3;
    -webkit-opacity: .3;
    
}

#header .center-section {
    left: 130px;
    right: 130px;
}

.gallery-numbers {
    right: 60px;
    font-size: 13px;
}


.sInfo{
    margin-bottom: 0px;
}

.slide .title {
	top: -150px;
}

.pages .content h2 {
    font-size: 28px
}

.pages .content p {
    font-size: 16px;
    line-height: 28px;
}

.slide .title h2 {
    font-size: 38px;
    line-height: 52px;
    margin: 11px 0 28px 0;
}

.pages .content .page-intro p{
    font-size: 26px;
    line-height: 40px;
    text-align: left;
}

#content-home .page-intro p{
    font-size: 36px;
    line-height: 54px;
    color:#969696;
    /*max-width: 600px;*/
}



.pages .half-height {
    display: table;
    height: 50vh;
}

/*
#section-crea2 .list .columns{
    width: 50%;
    height: auto;
}
*/
.gallery .cell {
  width: 20%;
  height: 160px;
  margin-right: 10px;
}

.gallery .cell {
  width: 33.33%;
  height: 160px;
  margin-right: 10px;
}

.content .section-full-height{
    height: 100vh;
    display: table;
}

.content .section .content-auto {
    padding-top: 160px;
    padding-bottom: 160px;
}

.content .section-full-height .project-gallery{
    padding: 0;
    height: 100vh !important;
    min-height: 100vh !important;
}

.molto-footer {
    font-size: 12px !important;
}

#section-crea2 p {
    font-size: 14px;
}

#breakpoint {
    color:#ffffff;
}

.allFull .slider-switch{
    opacity: 1;
    top: 60px;
}

.pages .content .section-tutto-cambia p{
    font-size: 15px;
    line-height: 24px;
    
}

.pages .content .section-tutto-cambia h2 {
    margin-bottom: 0.5rem;
}

#section-crea .row.vertical-align {
    display: table-cell;
}

.pages .content .column-talenti p {
    font-size: 12px;
    line-height: 20px;
}

.div-arrow {
    margin-bottom: 50px;
}

.map-container {
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    margin: auto;
}

.text-shortcode {
    text-align: center;
    line-height: 36px;
    font-size: 17px;
}

.mn {
    width: 28%;
    padding: 0;
}

.slide .title h2 {

    font-family: 'Playfair Display';
    font-size: 36px;
    color: #FFFFFF;
    line-height: 50px;
    max-width: 83%;
    margin-left:auto;
    margin-right:auto;
}

.testo-servizi-footer {
    font-size: 144px;
    margin-top: -45px;
}

div.stretchy-wrapper {
    height: 500px;
}

.stretchy-wrapper .title h1{
    font-size: 32px;
}

#hR,#hD {
    display: inline-block;
    margin-top: 0px;
    width: 240px;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px !important;
}

.project-gallery {
    height:450px;
}

.project-gallery img{
    height:450px;
    max-width:100%;
}

video#bgvid {
    transform: translateX(0);
    width:100%;
}

.waka {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    padding-right:45px
}

.slide img.brand {
    max-width: 30%
}

#lnkPortfolio a{
    font-size: 34px;
}
/*
#section-crea2 .list .columns {
	width:50%;
}
*/
.section-branding h3{
	max-width:80%;
}
#titolo_h {
	text-align:left;
}

.section-branding h3 {
    font-size: 26px;
    line-height: 40px;
}

#hR {
    margin-right: 20px;
}

.team-content {
    margin-bottom: 50px;
}
#section-team {
    padding-bottom: 150px;
}

#section-mappozzo img {
	max-width:75%;
}

#section-mappozzo {
	padding-bottom: 25px;
}

.section-auto.footer h2 {
	line-height: 1.5;
}

#tulozzo {
	text-align:left !important;
}